body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding:0%;
    line-height: 1.6;
    background-image: url("D:\bunny\images.jfif");
}
header{
    background-image: url();
    text-shadow: 0cqi;
    color: black;
    padding: 20px 0;
    text-align: center;
}
header h1{
    margin: 0%;
    }
h2{
    text-align: center;
}
header p{
    margin: 0;
    font-size: 1.2;
}
section{
    padding: 20px;
    margin: 20px 0;

}
#about{
    text-align: center;
}
#about img{
    width: 150;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
#skills{
    list-style-type: none;
    padding: 0;
}
#skills ul li{
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px blue;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.project{
    flex: 1 1 300px;

}
#resume a{
    display:inline-block ;
    padding: 10px 20px;
    background: blue;
    color: aliceblue;
    text-decoration:none;
    border-radius: 50px;

}
#resume a:hover{
    background: blue
    ;
}
#contact{
    margin: 5px 0;

}
footer{

    background: black;
    color: aliceblue;
    text-align: center;
    padding: 10px 0;

}
