 body{
        font-family: Arial;
        margin: 0%;
    }
    .header{
        background-color: aqua;
        padding: 20px;
        text-align: center;

    }
    .nav{
        background-color: azure;
        padding: 10px;
        text-align: center;
    }
    .nav a{
        color: white;
        text-decoration: none;
        margin: 15px;
        font-size: 18px;
        padding: 8px 12px;
    }
    .nav a:hover{
        background-color: blue;
        color: aquamarine;
        border-radius: 5px;
    }
    .content{
        padding: 30px;
        margin: 20px;
        border: 2px blue;
    }
    .footer{
        background-color: aliceblue;
        text-align: center;
        padding: 15px;
    }